*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
    padding: 25px;
    width: 500px;
    max-width: 500px;
    margin:auto;
}

body {
    font-family: 'montseratt', sans-serif;
    font-size: 20px;
}

.app {
    background-image: url('./assets/images/snow.jpg');
    background-size: 500px 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: 0.5s ease-in;
}
.app.warm {
    background: url('./assets/images/agave.jpg');
    background-repeat: no-repeat;
    background-size: 500px 100vh;
    background-position: bottom;
    transition: 0.5s ease-in;
}

.search-box {
    width: 100%;
    margin: 0 0 75px;
}

.search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 16px 16px;
    margin-top: -30px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

    color: black;
    font-size: 22px;

    transition: 0.4s ease;
}

.search-box .search-bar:hover, .search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 25px 35px;
    color: white;
    font-size: 100px;
    text-shadow: 3px 6px rgba(50, 50, 50, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, .2);
}

.weather-box .weather {
    color: white;
    font-size: 52px;
    font-weight: 900;
    text-shadow: 5px 5px rgba(0, 0, 0, .2);
}